.scroll_wrapper {
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

.scroll_wrapper section {
  height: 100vh;
  overflow: hidden;
  scroll-snap-align: start;
}

.hero_left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 1rem 1rem 3rem 2rem;
  justify-content: space-between;
}

.hero_right {
  height: 100vh;
  background-size: cover;
  background-color: black;
  background-image: url("/hero_bg.svg");
}

.hero_menu {
  margin: 1rem;
  display: flex;
  align-items: center;
  justify-content: end;
}

.hero_menu a {
  color: white;
}

.hero_menu button {
  font-weight: bold;
  background-color: white;
}

.hero_right form {
  margin: 5rem;
}

.hero_right form input,
.hero_right form textarea {
  border: 0;
  width: 100%;
  color: white;
  padding: 0.5rem;
  font-weight: 100;
  font-size: 1.25rem;
  background-color: transparent;
  border-bottom: 1px solid white;
}

.form_btn {
  display: flex;
  justify-content: end;
}

.form_btn button {
  font-weight: bold;
  background-color: white;
}

@media only screen and (max-width: 500px) {
  .hero_right {
    display: none;
  }

  .hero_left {
    height: calc(100vh - 4rem);
  }
}
