.scroll_wrapper {
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

.scroll_wrapper section {
  height: 100vh;
  overflow: hidden;
  scroll-snap-align: start;
}

.hero_left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 1rem 1rem 3rem 2rem;
  justify-content: space-between;
}

.hero_right {
  height: 100vh;
  background-size: cover;
  background-color: black;
  background-image: url("/hero_bg.svg");
}

@media only screen and (max-width: 500px) {
  .hero_right {
    display: none;
  }

  .hero_left {
    height: calc(100vh - 4rem);
  }
}
